/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@800;900&family=Outfit:wght@300&display=swap");
/*
===============
Variables
===============
*/

:root {
  /* colors */
  --dark-cream: #d5966c;
  --clr-black: #151515;
  --clr-gray: #444444;

  --clr-white: #fff;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --max-width: 1110px;
  --fixed-width: 620px;

  --font-1: "Big Shoulders Display", cursive;
  --font-2: "Outfit", sans-serif;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-2);
  color: var(--clr-gray);
}
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-1);
  color: var(--clr-black);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/*  global classes */

/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 91.46vw;
  margin: 0 auto;
  max-width: var(--max-width);
}
@media screen and (min-width: 768px) {
  .section-center {
    width: 89.6vw;
  }
}
.img {
  display: block;
  width: 100%;
  object-fit: cover;
}
/* btn */
.btn {
  display: inline-flex;
}
.btn span {
  padding: 24px 35px 24px 32px;
  background: var(--clr-black);
  color: var(--clr-white);
  font-family: var(--font-1);
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 3.63636px;
  text-transform: uppercase;
  transition: var(--transition);
}

.btn .icon-container {
  background: var(--dark-cream);
  width: 56px;
  height: 72px;
  display: grid;
  place-items: center;
  transition: var(--transition);
}
@media screen and (min-width: 1440px) {
  .btn:hover span {
    background: var(--dark-cream);
  }
  .btn:hover .icon-container {
    background: var(--clr-black);
  }
}

/* 
=================
Header
=================
*/
.header {
  height: 550px;
  overflow: hidden;
}
.header > img {
  width: 100%;
  height: 100%;
}
.map-img-tablet,
.map-img-desktop {
  display: none;
}
.location-btn {
  position: absolute;
}
@media screen and (min-width: 768px) {
  .header {
    height: 600px;
  }
  .map-img-mobile {
    display: none;
  }
  .map-img-tablet {
    display: block;
  }
}
@media screen and (min-width: 1440px) {
  .map-img-tablet {
    display: none;
  }
  .map-img-desktop {
    display: block;
  }
}
/* 
=================
Location
=================
*/
.location-section {
  padding: 48px 0 56px;
  background: var(--clr-black);
}
.location-title {
  color: white;
  font-weight: 900;
  font-size: 50px;
  line-height: 45px;
  text-transform: uppercase;
  margin-bottom: 48px;
}
.location-subtitle {
  color: var(--dark-cream);
  font-weight: 900;
  font-size: 32px;
  line-height: 32px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.location-right p {
  color: white;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
}
.address-container {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .location-section {
    padding: 88px 0 80px;
  }
  .location {
    display: flex;
    gap: 68px;
    justify-content: space-between;
  }
  .location-right {
    max-width: 398px;
  }
  .location-title {
    font-size: 55px;
    line-height: 50px;
  }
}
@media screen and (min-width: 1440px) {
  .location-section {
    padding: 104px 0 128px;
  }
  .location-title {
    font-size: 70px;
    line-height: 70px;
  }
  .location-subtitle {
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 36px;
  }
  .location p {
    font-size: 22px;
    line-height: 32px;
  }
  .address-container {
    margin-bottom: 32px;
  }
  .location-right {
    max-width: 540px;
  }
}
/* 
=================
Footer
=================
*/
.footer {
  background: var(--dark-cream);
}
.footer-center {
  padding: 48px 16px;
}
/* footer info */
.summary {
  margin-bottom: 38px;
}
.logo-container {
  margin-bottom: 38px;
}
.summary-text {
  color: var(--clr-black);
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
}
.socials {
  display: flex;
  gap: 20px;
}
.logo {
  height: 20px;
  width: 20px;
  background-color: black;
  transition: var(--transition);
}

.logo-fb {
  mask: url(../images/fb-dark.svg) no-repeat center;
}
.logo-insta {
  mask: url(../images/instagram-dark.svg) no-repeat center;
}
.logo-twitter {
  mask: url(../images/twitter-dark.svg) no-repeat center;
}
@media screen and (min-width: 768px) {
  .footer-center {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }
  .summary {
    display: flex;
    align-items: flex-start;
    gap: 64px;
  }
  .summary-text {
    max-width: 281px;
  }
}
@media screen and (min-width: 1440px) {
  .footer-center {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }

  .summary {
    display: flex;
    align-items: flex-start;
    gap: 140px;
  }
  .logo-container img {
    height: 58px;
  }
  .summary-text {
    max-width: 430px;
  }
  .logo:hover {
    background-color: white;
  }
}
